<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../componente-hijo-uno/componente-hijo-uno.html">
<link rel="import" href="../componente-hijo-dos/componente-hijo-dos.html">

<dom-module id="componente-padre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[prop1]]</h2>
    <componente-hijo-uno on-button-lista="_toLista" on-button-tabla="_toTabla"></componente-hijo-uno>
    <componente-hijo-dos></componente-hijo-dos>
    <!-- <div on-button-lista="_toLista"></div> -->
  </template>

  <script>
    /**
     * `componente-padre`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentePadre extends Polymer.Element {
      static get is() { return 'componente-padre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Componente Padre'
          }
        };
      }
      _toLista(e) {
        console.log('Entre a _toLista con:', e);
        
      }
      _toTabla(e) {
        console.log('Entre a _toTabla con:', e);
        
      }
    }

    window.customElements.define(ComponentePadre.is, ComponentePadre);
  </script>
</dom-module>
